extends index.pug

block content
  h1 Report Proofing
  - var TaskName
  - for (var t = 1; t < report[0].length; t++)
    - TaskName = report[0][t]
    h2= report[0][t]
    - var a = 1
    - while (TaskName == report[0][t+a])
      - a++
    - for (var s = 2; s < (report.length - 5); s++)
      .student
        h3= report[s][0]
        - for (var c = 0; c < a; c++)
          if (report[1][t+c] == 'Comment (Open)')
            p.comment= report[s][t+c]
          else
            p
              b #{report[1][t+c]}: 
              = report[s][t+c]
    - t = t+a-1